body{
    text-align: center;
    font-family: 'Avenir', sans-serif;
    margin: 20px 0px;
}

.text{
    display: inline-block;
    margin: 10px;
}

.left{
    text-align: left;
}

h1{
    width: 674px;
    height: 80px;
    font-size: 88px;
    line-height: 80px;
    margin-left: 90px;
}

.para{
    margin: 90px;
}

p{
    width: 526px;
    height: 108px;
    font-size: 26px;
    line-height: 100%;
    margin-bottom: 0px;
}

.btn{
    width: 157px;
    height: 50px;
    background-color: #252525;
    color: #fff;
    border-radius: 16px;
    padding: 16px 32px;
}