body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
}

.main{
    width: 464px;
    height: 498px;
    position: absolute;
    top: 110px;
    left: 130px;
}

h1{
    width: 400px;
    height: 240px;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 0px;
}

.main p{
    width: 350px;
    height: 128px;
    font-size: 24px;
    line-height: 32px;
    color: #363031;
}

button{
    width: 179px;
    height: 66px;
    background-color: #A36A4F;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 36px;
    border: 1px solid #A36A4F;
} 

.coffee{
    position: absolute;
    top: 50px;
    right: 110px;
}

.rec2{
    width: 878px;
    height: 188px;
    border-radius: 80px;
    background-color: #ECDAC4;
    border: 1px solid #ECDAC4;
    position: absolute;
    top: 690px;
    left: 315px;
    z-index: -1
}

.blocks{
    font-family: 'poppins', sans-serif;
    position: absolute;
    top: 720px;
    left: 300px;
    z-index: 2;
    margin-bottom: 300px;
}

.block{
    width: 150px;
    height: 140px;
    display: inline-block;
    margin-left: 110px;
    text-align: center;
}

h3{
    margin-top: 5px;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
}

.color{
    width: auto;
    height: 472px;
    background-color: #363032;
    position: relative;
    top: 800px;
    z-index: -2;
}

.inline{
    display: inline-block;
    position: relative;
    top: 140px;
    left: 60px;
    z-index: 2;
    margin-right: 110px;
}

.inline p{
    font-family: 'Poppins', sans-serif;
    width: 168px;
    height: 24px;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 15px;
    padding-bottom: 90px;
}
