body{
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
}

.text1{
    width: 400px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    color: #252525CC;
    font-size: 24px;
    line-height: 30px;
}

.img1{
    position: absolute;
    top: 40px;
    right: 50px;
}

.gradient{
    width: 800px;
    height: 800px;
    position: absolute;
    top: 100px;
    left: 380px;
    z-index: -1;
}

.main{
    position: absolute;
    top: 140px;
    left: 590px;
    z-index: 0;
    text-align: center;
}

h1{
    width: 350px;
    height: 100px;
    font-size: 112px;
    line-height: 108px;
    font-weight: 400;
}

.main p{
    width: 300px;
    height: 340px;
    font-size: 24px;
    line-height: 32px;
    color: #252525CC;
    position: relative;
    top: 200px;
    left: 25px;
}

.btn{
    width: 150px;
    height: 50px;
    border-radius: 36px;
    border: 1px solid #252525;
    background-color: #252525;
    color: white;
}

.img2{
    position: absolute;
    top: 420px;
    left: 50px;
    padding-bottom: 40px;
}

.text2{
    width: 400px;
    height: 100px;
    position: absolute;
    top: 750px;
    right: 85px;
    color: #252525CC;
    font-size: 24px;
    line-height: 30px;
}

.star1{
    position: absolute;
    top: 220px;
    left: 300px;
}

.shape1{
    position: absolute;
    top: 220px;
    left: 80px;
}

.star2{
    position: absolute;
    top: 510px;
    right: 310px;
}

.shape2{
    position: absolute;
    top: 610px;
    right: 110px;
}
